$color-loader: #EFEFFA;
$color-white: #fff;
$color-black: #000;
$color-light-blue: #00cccc;
$color-green: #4ed486;
$color-violet: #6139f6;
$color-yellow: #e3b63d;
$color-pink-primary: #dc3d66;
$color-pink-dark: #b93457;
$color-purple: #bd54cd;

$bp-largest: 75em; //1200px / 16
$bp-large: 68.75em; //1100px / 16
$bp-medium: 64em; // 1024 / 16
$bp-small: 33.13em; // 530/ 16
$bp-smallest: 31.25em; // 500/ 16